.message {
    display: grid;
    grid-template-columns: 2fr 5fr;
    height: 100%;
}

.textDialog {

}

.poleForText {
    position:absolute;
    bottom:0;
    padding: 10px;
}

.textareaMessage {
    resize: none;
    width: 760px;
}


