.post {
    grid-area: c;
    color: greenyellow;
    padding: 4px;
}

.post img {
    width: 50px;
    border-radius: 100px;
    border: 3px solid red;
    box-shadow: 0 0 7px #666;
}

.button{
    margin: 5px;
    height: 25px;
    background-color: #057fd0;
    color: white;
    border: 6px solid #057fd0;
    border-radius: 25px;
}

.textarea {
    padding: 2px;
    font-size: 12px;
    border-width: 0;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(66,66,66,.75);
    text-shadow: 0 0 5px rgba(66,66,66,.75);
    resize: none;
    width: 300px;
    height: 100px;
}
.textarea:focus {
    outline:none;
}