.userAva{
    width: 100px;
    border-radius: 200px;
    border: 3px solid white;
    display: initial;
    margin-left: 60px;
    margin-right: 60px;
    flex-wrap: wrap;
}

.selectedPage{
    font-weight: bold;
}

.users{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.margin{
    margin: 3px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
}


.button{
    margin: 5px;
    height: 25px;
    background-color: #057fd0;
    color: white;
    border: 6px solid #057fd0;
    border-radius: 25px;
}

.input{
    height: 35px;
    width: 30%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    outline: none;
    border: none;
}

.inputSelector{
    height: 35px;
    width: 15%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    outline: none;
    border: none;
}

.searchForm{
    display: inline;
    text-align: center;
    margin: 10px;
}


