.nav{
    grid-area: n;
    background-color: cadetblue;
    padding: 20px;
    height: 690px;
 }

.item a{
    color: bisque;
    text-decoration: none;
}

.item a.activeLink{
   color: green;
}

.frends{
    padding-top: 20px;
}
.frends img{
    display: inline;
}