.paginator {
    text-align: center;
    margin: 10px;
}

.pageNumber{
    margin: 10px;
}

.pageNumber.selectedPage{
    background: #057fd0;
    border: 6px solid #057fd0;
    border-radius: 25px;
}

.button{
    margin: 5px;
    height: 25px;
    background-color: #057fd0;
    color: white;
    border: 6px solid #057fd0;
    border-radius: 25px;
}